html, body {
    background-color: white;
}

.standbot-sidebar-icon {
    background-size: contain;
    background-image: url("/jira/download/resources/stand-bot-slack-stand-up-bot-for-jira:connector-resources-general/images/icon-standup.png"), url("/download/resources/stand-bot-slack-stand-up-bot-for-jira:connector-resources-general/images/icon-standup.png");
}
